.job-details-card-bg {
  background-color: #202020;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: white;
}

.logo-and-title-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.company-logo-img {
  height: 80px;
  width: 80px;
}

.title-and-rating-cont {
  display: flex;
  flex-direction: column;
}

.company-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 0px;
}

.rating-star-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 0px;
}

.company-rating {
  color: white;
}

.location-and-lpa-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #64748b;
}

.loc-and-type-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.icons-text-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.loc-and-type-text {
  font-size: 12px;
  font-family: 'Roboto';
  color: white;
}

.company-package-heading {
  color: white;
  font-size: 26px;
  font-weight: 500;
  font-family: 'Roboto';
}

.job-desc-container {
  display: flex;
  flex-direction: column;
}

.desc-and-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.description-text {
  margin-top: 0px;
}

.company-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #4f46e5;
  font-weight: 500;
  text-decoration: none;
  font-family: 'Roboto';
}

.visit-icon {
  font-size: 16px;
}

.skills-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.life-at-company-section {
  display: flex;
  flex-direction: column;
}

.life-at-company-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.company-description-para {
  text-align: start;
  max-width: 900px;
}
