.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.profile-name {
  color: #6366f1;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.profile-bio {
  color: #272727;
  font-size: 12px;
  font-weight: 400;
}
