.similar-job-bg-container {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: white;
  border-radius: 10px;
  width: 350px;
}

.similar-job-logo-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.similar-job-logo {
  height: 70px;
  width: 70px;
}

.similar-title {
  margin-bottom: 0px;
}

.similar-title-rating-cont {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.similar-start-and-rating-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 0px;
}

.similar-disc-cont {
  display: flex;
  flex-direction: column;
}

.similar-location-type-cont {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.similar-location-cont {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
