.home-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.home-content {
  text-align: start;
  max-width: 500px;
  padding: 20px;
}

.home-heading {
  font-size: 38px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.home-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
  color: #f8fafc;
}

.find-jobs-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  height: 40px;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.find-jobs-btn:hover {
  background-color: #4338ca;
}
