.header-bg-container {
  background-color: #2c364c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.web-logo {
  height: 35px;
  width: 100px;
}

.home-and-jobs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.header-headings {
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.logout-btn {
  background-color: #4f46e5;
  height: 40px;
  width: 90px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.item-link {
  text-decoration: none;
}

.home-and-jobs-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.home-and-jobs-li {
  cursor: pointer;
}
